/*css reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards-wrapper {
    justify-content: center;
    gap: 15px;
}

.hotel-card {
    list-style: none;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px;
    width: calc(100% / 3 - (15px * 2 / 3));
}